# Operating system and editor files
.DS_Store
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
*.plist
~$*.docx

# Generated build output
/build/
/out/
obd_reader
*.o
